In [157]:
import atd2022
from xgboost import XGBRegressor
from skforecast.ForecasterAutoreg import ForecasterAutoreg
import pandas as pd

In [2]:
truth=atd2022.io.read_csv()

In [137]:
res_forecaster = ForecasterAutoreg(
    regressor = XGBRegressor(n_jobs = 100, 
                             tree_method = "approx",
                            #max_leaves = 12
                            ),
    lags = 30
    )

In [138]:
test = truth[('AA', '01')].head(215)

In [139]:
res_forecaster.fit(y = test)

/scratch/wzong/anaconda3/envs/atd2022/lib/python3.9/site-packages/skforecast/utils/utils.py:256: UserWarning: `y` has no DatetimeIndex nor RangeIndex index. Index is overwritten with a RangeIndex.
  warnings.warn(

In [152]:
tmp =res_forecaster.predict(steps=4)

In [153]:
truth[('AA', '01')].tail()

2018-01-08/2018-01-14    13
2018-01-15/2018-01-21    14
2018-01-22/2018-01-28     5
2018-01-29/2018-02-04     3
2018-02-05/2018-02-11     7
Freq: W-SUN, Name: (AA, 01), dtype: int64

In [175]:
indicies = truth.tail(4).index

In [166]:
tmp_lst = tmp.to_list()

In [167]:
test_lst = [tmp_lst, tmp_lst]

In [170]:
test_lst

[[8.914878845214844, 11.979313850402832, 9.400818824768066, 4.027756214141846],
 [8.914878845214844, 11.979313850402832, 9.400818824768066, 4.027756214141846]]

In [172]:
test_df = pd.DataFrame(data = test_lst, index=["1","2"]).T

In [176]:
test_df.set_index(indicies)

                               1          2
2018-01-15/2018-01-21   8.914879   8.914879
2018-01-22/2018-01-28  11.979314  11.979314
2018-01-29/2018-02-04   9.400819   9.400819
2018-02-05/2018-02-11   4.027756   4.027756

In [169]:
test_df

       1   2
pred NaN NaN
pred NaN NaN

In [187]:
row1 = truth.iloc[[2]]

In [188]:
row2 = truth.iloc[[2]]

In [189]:
test = pd.concat([row1,row2], axis=0)

In [190]:
test

Region                AA                             ...   ZI                \
Event                 01 02 03 04 05 06 07 08 09 10  ...   11  12  13 14 15
2014-01-13/2014-01-19  0  1  3  7  1  0  0  0  0  0  ...  164  49  20  8  0
2014-01-13/2014-01-19  0  1  3  7  1  0  0  0  0  0  ...  164  49  20  8  0

Region
Event                  16  17  18  19 20
2014-01-13/2014-01-19  34  91  20  63  0
2014-01-13/2014-01-19  34  91  20  63  0

[2 rows x 5200 columns]